
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutMovie.cshtml";
}
@model CustomerLoginViewModel

<h2>Müşteri Girişi</h2>

<div class="row">
    <div class="col">
         <form asp-action="Login" asp-controller="Customer" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
         </form>
    </div>
    <div class="col">
        <h3>Kayıt olmak için <a asp-action="Register" asp-controller="Customer">tıklayınız...</a></h3>
    </div>
</div>

